
/* BASIC */


a{
	text-decoration:none;
	color:#AAACFF;
}

a:hover{
	text-decoration:none;
	color:white;
}

a img{
	max-width:100%;
	margin-bottom:64px;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    background-color:black;
    color:white;
}

footer{
	border-top:solid blue;
	background-color:black;
	overflow:hidden;
	margin:0;
}

header{
	border-bottom:solid #0022EB;
}

header h1{
	font-family: 'Ubuntu', sans-serif;
    font-size:64px;
	text-shadow:15 15 2 black;
}

header h2{
	font-size:24px;
}

header video{
	position:0px;
}

h1{
	text-shadow:0px 3px 5px black;
}

h2{
    font-size:36px;
	text-shadow:0px 3px 5px black;
}

li a{
    font-size:24px;
    border-block-color:red;
    color:#AAACFF;
    text-align:left;
    text-decoration:none;
    transition-duration:0.2s;
}

li a:hover{
	font-size: 28px;
	color:white;
    transition-duration:0.2s;
}

nav{
    background-color:black;
	top:0;
	z-index:2;
	border-bottom:solid #06003D;
}

nav li{
	display:inline-flex;
    text-align:left;
	padding:0px 15px;
}

ul{
	list-style-type:none;
}



/* IDs */



#attackbox{
	background-image:url("../images/gam_Box.jpg");
	background-size:cover;
	background-position:bottom left;
}

#bonesReviews{
	background-color:black;
}


#Box{
	padding:5%;
}

#cgbackKirb{
	background-image:url("../images/kirbyArtDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackField{
	background-image:url("../images/artFieldDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackCake{
	background-image:url("../images/artCakeDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackScary{
	background-image:url("../images/artScaryDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackBedr{
	background-image:url("../images/artBedroomDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackCabin{
	background-image:url("../images/artCabinDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackHallw{
	background-image:url("../images/artHallwayDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackKitchen{
	background-image:url("../images/art_kitchenDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackKitchenR{
	background-image:url("../images/artKitchenruinDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackLaptop{
	background-image:url("../images/artLaptopDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackRubix{
	background-image:url("../images/art_RubixDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackNews{
	background-image:url("../images/artNewspaperDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#cgbackInD{
	background-image:url("../images/artIndoorDark.jpg");
	background-size:cover;
	background-attachment:fixed;
}

#CGBanner {
    background-image: url("../images/BackKirbyDark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:top;
	border:none #06003D;
    padding: 0%;
    transition-duration: 0.5s;
}

    #CGBanner:hover {
		background-image:url("../images/KirbyArt.jpg");
        padding:3%;
        transition-duration: 0.3s;
        cursor: pointer;
		border-top:solid #06003D;
		border-bottom:solid #06003D;
    }

#CGBanner:hover #CGBannerText{
	color:#AAACFF;
	transition-duration:0.2s;
}

#CGBannerText {
    text-align: right;
    padding: 5% 30% 5% 5%;
	transition-duration:0.5s;
}

#codZombiesTitle{
	background-image:url(../images/BackSource.jpg);
	background-position:center;
	background-size:cover;
	text-align:center;
	color:white;
	padding:10% 10% 10% 10%;
	transition-duration:0.5s;
	text-shadow:0px 2px 3px black;
}

#codZombiesTitle:hover{
	padding:12% 12% 12% 12%;
	color:#AAACFF;
	transition-duration:0.2s;
}

#CoolVideoZone{
	background-color:#3F3F3F;
	color:#FF9E00;
	margin:auto;
	padding:2%;
	border-radius:15px;
}

#CoolVideoZone h2{
	font-family: 'Montserrat', sans-serif;
	text-shadow:none;
}

#CoolVideoZone a{
	text-decoration:underline;
	margin:5px;
}

#CShBan{
    background-image: url("../images/BackCSHdark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:solid black;
	border-radius:15px;
    padding: 10%;
    transition-duration: 0.5s;
}

 #CShBan:hover{
	    background-image: url("../images/BackCSH.jpg");
        transition-duration: 0.2s;
        cursor: pointer;
		border:solid #06003D;
    }

#CShBan:hover h2{
	color:#AAACFF;
	transition-duration:0.2s;
}

#CShBan h2{
	color:white;
	transition-duration:0.5s;
}

#ETCBanner{
    background-image: url("../images/ueblueprintsdark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:solid black;
	border-radius:15px;
    padding: 10%;
    transition-duration: 0.5s;
}

    #ETCBanner:hover {
		background-image: url("../images/ueblueprints.jpg");
        transition-duration: 0.2s;
        cursor: pointer;
		border:solid #06003D;
    }

#ETCBanner:hover h2{
	color:#AAACFF;
	transition-duration:0.2s;
}

#ETCBanner h2{
	color:white;
	transition-duration:0.5s;
}

#ETCText {
    text-align: right;
    padding: 5% 30% 5% 5%;
}

#footerSafeArea{
	font-size:32px;
	margin:15px;
	overflow:hidden;
	transition-duration:0.2s;
}

#footerSafeArea:hover{
	font-family:Comic Sans MS;
	transition-duration:0.2s;
}

#forgotBones{
	background-image:url("../images/sourceBones.jpg");
	background-size:cover;
	background-position:center;
	padding:5;
	overflow:hidden;
}

#forgotBonesTitle{
	background-image:url("../images/sourceBones.jpg");
	background-position:center;
	background-size:cover;
	text-align:center;
	color:white;
	padding:10% 10% 10% 10%;
	text-shadow:0px 3px 3px black;
	transition-duration:0.5s;
}

#forgotBonesTitle:hover{
	padding:12% 12% 12% 12%;
	color:#AAACFF;
	transition-duration:0.2s;
}

#Gallery img{
	max-width:100%;
	margin-bottom:64px;
}

#Homepage h3{
	text-shadow:0px 3px 3px black;
}

#Horror52{
	background-image:url("../images/gam_footsteps.webp");
	background-size:cover 50%;
	background-repeat:no-repeat;
	background-position:left 75%;
	padding:15px;
	text-shadow:2px 2px 2px black;
}

#Horror2{
	background-image:url("https://img.itch.zone/aW1hZ2UvNDAyNTI3LzE5OTc0NjEucG5n/original/xI5zqu.png");
	background-size:cover 50%;
	background-repeat:no-repeat;
	background-position:left 75%;
	padding:15px;
	text-shadow:2px 2px 2px black;
}

#htmlweb{
	color:blue;
	text-align:left;
	font-family:serif;
}

#htmlweb h1{
	text-shadow:none;
	text-decoration:underline;
}

#imgbackGC{
	background-image:url("../images/photoGamecubeblurry.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#imgbackRubix{
	background-image:url("../images/photoRubixDark.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#imgbackWar{
	background-image:url("../images/photoWartankDark.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#imgbackServ{
	background-image:url("../images/serverDark.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#imgbackPlant1{
	background-image:url("../images/photoPlantDark.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#imgbackPlant2{
	background-image:url("../images/photoPlant2Dark.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

#LinksSection{
	background-image:url("../images/BackSource2Dark.png");
	background-size:cover;
	background-position:bottom;
}

#LinksSection i{
	transition-duration:0.2s;
}

#LinksSection i:hover{
	color:#AAACFF;
	transition-duration:0.2s;
}

#mainStuff{
	border-bottom:solid blue;
}

#mainStuff a{
	color:white;
}

#Homepage h2{
	font-family: 'Ubuntu', sans-serif;
}

#ModBanner {
    background-image: url("../images/BackSourceDark.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:none #06003D;
	border-radius:0%;
    padding: 0%;
    transition-duration: 0.5s;
}

    #ModBanner:hover {
		background-image: url("../images/BackSource.png");
        padding: 3%;
        transition-duration: 0.3s;
        cursor: pointer;
		border-top:solid #06003D;
		border-bottom:solid #06003D;
    }

#ModBanner:hover #ModBannerText{
	color:#AAACFF;
	transition-duration:0.2s;
}

#ModBannerText {
    text-align: left;
    padding: 5% 5% 5% 30%;
	transition-duration:0.5s;
}

#MusicBanner {
    background-image: url(../images/BackAbzenDark.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
	border:none #06003D;
    padding: 0%;
    transition-duration: 0.5s;
}

#MusicBanner:hover{
	background-image:url("../images/comparejpg.jpg");
    padding:3%;
    transition-duration:0.3s;
    cursor:pointer;
	border-top:solid #06003D;
	border-bottom:solid #06003D;
}

#MusicBanner:hover #MusicBannerText{
	color:#AAACFF;
	transition-duration:0.2s;
}

#MusicBannerText{
    text-align:left;
    padding:5% 5% 5% 30%;
	transition-duration:0.5s;
}

#pizzaA:hover{
	cursor:pointer;
}

#PhotoBanner{
    background-image: url("../images/photoGamecubedark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:solid black;
	border-radius:15px;
    padding: 10%;
	max-width:100%;
    transition-duration: 0.5s;
}

    #PhotoBanner:hover {
		background-image: url("../images/photoGamecube.jpg");
        padding: 10%;
        cursor: pointer;
		border:solid #06003D;
		transition-duration: 0.2s;
    }

#PhotoBanner:hover h2{
	color:#AAACFF;
	transition-duration:0.2s;
}

#PhotoBanner h2{
	color:white;
	transition-duration:0.2s;
}

#RoadChaos{
	background-image:url("../images/ueChaos.jpg");
	background-size:cover;
	padding:5%
}

#RoadChaos2{
	background-image:url("../images/gam_Mall.webp");
	background-size:cover;
	background-position:center;
	padding:15px;
	text-shadow:2px 2px 2px black;
}

#ROTTool{
	background-image:url("../images/BackROT.jpg");
	background-size:cover;
	background-position:right;
}

#Rubix{
	padding:5%;
}

#rubixtimer{
	background-image:url("../images/gam_rubix.jpg");
	background-size:cover;
	background-position:top left;
}

#Serverinfo{
	text-align:right;
}

#siteAbzen{
	background-image:url("../images/siteAbzenseDark.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	transition-duration:0.5s;
}

#siteAbzen:hover{
	background-image:url("../images/siteAbzense.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	transition-duration:0.2s;
}

#siteGithub{
	background-image:url("../images/siteCollegeDark.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

#siteGithub:hover{
	background-image:url("../images/siteCollege.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

#TopBar{
}



#titleForOffset{
    padding:5%;
	text-shadow:15 15 2 black;
}

#titleForOffset video{
	mix-blend-mode: screen;
	max-width:250px;
}

#ueHorror{
	background-image:url("../images/BackH5.jpg");
	background-size:cover;
	background-position:center;
	padding:5%;
}

#ueHorror2{
	background-image:url("https://img.itch.zone/aW1nLzE5OTc0NTIucG5n/original/iuZgs%2F.png");
	background-size:cover;
	background-position:center;
	padding:5%;
}

#UnrealEngine:hover .uedrop {
	display:block;
}

#VRban{
	background-image:url("../images/backBloons.jpg");
	background-size:cover;
	background-position:center left;
	padding:5%;
}

#VRcont{
	padding:5%;
}

#WebBan{
	text-shadow:none;
	border:solid black;
	border-radius:15px;
    padding: 10%;
    cursor: pointer;
	background-color:white;
	background-image:url(#);
	border:solid #06003D;
}

    #WebBan:hover {
        cursor: pointer;
    }

#WebBan:hover h2{
	color:blue;
	text-shadow:none;
	font-family:Times New Roman;
	text-decoration:underline;
	transition-duration:0.2s;
}

#WebBan h2{
	color:blue;
	text-shadow:none;
	font-family:Times New Roman;
	text-decoration:underline;
	transition-duration:0.2s;
}

#zhidden2{
	display:none;
}



/* CLASSES */


.backgroundAbstr{
	background-image:url("../images/BackAbstr.webp");
	background-size:cover;
	background-attachment:fixed;
}

.sticky{
	position:sticky;
	position:webkit-sticky;
	top:0;
}



.dropdown{
	position:relative;
	display:inline-block;
}

.uedrop{
	display:none;
	position:absolute;
	background-image:url();
	z-index:1;
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

.DownloadArea{
	background-color:#191919;
	padding:15px;
}

.DownloadButtons{
	padding:15px;
	background-color:black;
	border:none;
	border-radius:15px;
	color:#AAACFF;
	transition-duration:0.5s;
}

.DownloadButtons:hover{
	color:white;
	padding:20px;
	transition-duration:0.2s;
}

.tempb{
    background-image: url("../images/temp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:none #06003D;
	border-radius:15px;
    padding: 10%;
    transition-duration: 0.5s;
	color:white;
}

 /*   #.tempb:hover{
        padding: 10%;
        transition-duration: 0.2s;
        cursor: pointer;
		border:solid #06003D;
    }

#.tempb:hover h2{
	color:#AAACFF;
	transition-duration:0.2s;
}
*/
.tempb h2{
	transition-duration:0.5s;
}

.navbar-nav .nav-item .nav-link{
	color:#AAACFF;
	transition-duration:0.5s;
}

.navbar-nav .nav-item .nav-link:hover{
	color:white;
	transition-duration:0.2s;
}

.navbar-brand img{
	padding:0px 0px 0px 30px;
	transition-duration:0.5s;
}

.navbar-brand img:hover{
	transition-duration:0.2s;
}

.sitePad{
	padding-top:256px;
	padding-bottom:256px;
}

.sitePadHTML{
	padding-bottom:512px;
}

.img-GC{
	color:white;
	transition-duration:0.5s;
}

.img-GC:hover {
	color:#AAACFF;
	transition-duration:0.2s;
}


/* MEDIA */




@media only screen and (max-width:768px){
	#codZombiesTitle{
		color:#AAACFF;
	}

	#codZombiesTitle:hover{
		color:white;
	}
	
	#forgotBonesTitle{
		color:#AAACFF;
	}

	#forgotBonesTitle:hover{
		color:white;
	}
	
	#MusicBanner:hover #MusicBannerText{
		color:white;
	}

	#MusicBannerText{
		color:#AAACFF;
	}
	
	#CGBanner:hover #CGBannerText{
		color:white;
	}

	#CGBannerText{
		color:#AAACFF;
	}
	#ModBanner:hover #ModBannerText{
		color:white;
	}

	#ModBannerText {
		color:#AAACFF;
	}
	#ETCBanner:hover h2{
		color:white;
	}

	#ETCBanner h2{
		color:#AAACFF;
	}
	#PhotoBanner:hover h2{
		color:white;
	}

	#PhotoBanner h2{
		color:#AAACFF;
	}

	#WebBan h2{
		color:#AAACFF;
	}
	
	#CShBan:hover h2{
		color:white;
	}

	#CShBan h2{
		color:#AAACFF;
	}
	
	.img-GC{
		color:#AAACFF;
	}

	.img-GC:hover {
		color:white;
	}
	
	#titleForOffset video, img{
	max-width:150px;
}

}