@charset "utf-8";
/* CSS Document */

body{
	background-color:black;
}

#backdrop{
	height:100vh;
	background-image:url("backg.png");
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}

#kirby{
	position:absolute;
	bottom:17%;
	left:25%;
	width:7%;
}

#dede{
	position:absolute;
	bottom:17%;
	right:25%;
	width:10%;
}

#dedeGo{
	position:absolute;
	bottom:10%;
	right:10%;
}

#kirbyGo{
	position:absolute;
	top:10%;
	left:10%;
}

.hide{
	display:none;
}

.unhide{
	display:inherit;
}

#winner{
	padding-top:25%;
	font-size:64px;
	text-shadow:1px 2px 1px black;
}

#winner2{
	text-shadow:1px 2px 1px black;
}